@media only screen and (max-width: 550px) {
    .content {
        padding-top: 160px;
    }

    .padding-container {
        margin: 0 40px;
    }

    .header {
        padding: 0;
    }

    .header__center-side {
        display: none;
    }

    .header__edges {
        width: 80px;
    }

    .book-now-img {
        width: 80px;
    }

    .header__logo {
        width: 150px;
    }

    .change-language {
        display: none;
    }

    .burger-menu {
        display: block;
        width: 40px;
    }

    /* ---- Contact dialog ------*/
    /* ----- ============ -------*/
    .contact-dialog--open {
        height: 430px;
    }

    .contact-dialog__mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact-dialog__menu-button {
        font-family: FuturaLTPro-Bold;
        font-size: 18px;
        text-transform: uppercase;
    }

    .contact-dialog__title {
        font-size: 18px;
    }

    /* --------- Intro --------- */
    /* --------- ===== --------- */
    .content__low-in-use {
        justify-content: center;
        margin-left: -50px;
    }

    .content__low-in-use-img {
        width: 55px;
    }

    .content__deliver-in-three-hours {
        width: 300px;
        margin-top: 0;
    }

    .content__e-cars-co2-free-img {
        display: none;
    }

    .content__e-cars-co2-free-mobile-img {
        display: block;
        position: relative;
        width: 210px;
        left: 40px;
        bottom: 50px;
    }

    .content__bevy-car {
        margin-top: -50px;
    }

    .content__bevy-car-img {
        width: 190px;
        margin-bottom: -20px
    }

    /* ------ Our Service -------*/
    /* ------ =========== -------*/
    .content__our-service {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    .content__our-service-text {
        margin-left: 0;
        margin-top: 100px;
    }

    .content__our-service-img {
        width: 145px;
        height: 110px;
    }

    .content__our-service-text {
        margin-top: 40px;
        margin-left: 0;
        font-size: 18px;
    }

    .content__ecommerce-groceries-food-pastries-img {
        position: relative;
        left: 90px;
        width: 180px;
    }

    .city-panorama {
        width: 310px;
        margin-top: 0;
        margin-right: 0;
    }

    /* ------ Our Vision ------- */
    /* ------ ========== ------- */
    .our-vision {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .our_vision {
        width: 145px;
        height: 110px;
        margin: 55px 0;
    }

    .content__our-vision-text {
        font-size: 18px;
    }

    .forest {
        width: 300px;
        margin: 40px 0;
    }

    /* ----- Our Workflow ------ */
    /* ----- ============ ------ */
    .content__our-workflow-img-container {
        width: 100%;
        margin-top: 0;
    }

    .our_workflow {
        width: 220px;
    }

    .our-workflow__steps-diagram-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/*
     FILE ARCHIVED ON 06:04:16 Nov 11, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:48:31 Mar 09, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.058
  cdx.remote: 0.092
  esindex: 0.009
  LoadShardBlock: 99.643 (6)
  PetaboxLoader3.datanode: 104.381 (8)
  load_resource: 315.911
  PetaboxLoader3.resolve: 250.066
  loaddict: 49.17
*/