@media only screen and (max-width: 1100px) {
    .header__center-side {
        display: none;
    }

    .header__edges {
        width: 120px;
    }

    .book-now-img {
        width: 130px;
    }

    .change-language {
        display: none;
    }

    .burger-menu {
        display: block;
        width: 65px;
    }

    /* ---- Contact dialog ------*/
    /* ----- ============ -------*/
    .contact-dialog {
        position: fixed;
        margin-top: 0;
        transition: height 0.2s;
        overflow-y: hidden;
        border-top: 0;
        z-index: 1999;
    }

    .contact-dialog--open {
        height: 452px;
    }

    .contact-dialog__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .contact-dialog__mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact-dialog__mobile-top-buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .contact-dialog__menu-button {
        font-family: FuturaLTPro-Bold;
        font-size: 23px;
        text-transform: uppercase;
    }

    /* --------- Intro --------- */
    /* --------- ===== --------- */
    .content__low-in-use {
        justify-content: center;
        margin-left: -100px;
    }

    .content__deliver-in-three-hours {
        margin-top: 0;
    }

    .content__e-cars-co2-free-img {
        display: none;
    }

    .content__e-cars-co2-free-mobile-img {
        display: block;
        position: relative;
        width: 390px;
        left: 80px;
        bottom: 130px;
    }

    .content__bevy-car {
        margin-top: -130px;
    }

    /* ------ Our Service -------*/
    /* ------ =========== -------*/
    .content__our-service {
        flex-direction: column;
        align-items: center;
    }

    .content__our-service-text {
        margin-left: 0;
        margin-top: 100px;
    }

    .content__ecommerce-groceries-food-pastries-img {
        position: relative;
        top: 0;
        left: 150px;
    }

    .city-panorama {
        width: 740px;
        margin-top: 0;
        margin-right: 0;
    }

    /* ------ Our Vision ------- */
    /* ------ ========== ------- */
    .our-vision {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .our_vision {
        width: 350px;
        height: 260px;
        margin: 110px 0;
    }

    .forest {
        width: 740px;
        margin: 120px 0;
    }

    /* ----- Our Workflow ------ */
    /* ----- ============ ------ */
    .content__our-workflow-img-container {
        width: 100%;
        margin-top: 0;
        margin-bottom: 257px;
    }

    .our_workflow {
        width: 480px;
    }

    .our-workflow__steps-diagram-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/*
     FILE ARCHIVED ON 01:51:54 Nov 25, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:48:31 Mar 09, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.063
  exclusion.robots.policy: 0.052
  cdx.remote: 0.085
  esindex: 0.011
  LoadShardBlock: 141.435 (6)
  PetaboxLoader3.datanode: 116.54 (7)
  load_resource: 464.409
  PetaboxLoader3.resolve: 407.642
*/